<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.my_imdb">

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.My_IMDB"
        android:usesCleartextTraffic="true"
        android:clearTaskOnLaunch="true">
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".FullMovieActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".RankActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".WatchlistActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>